ServerRoot "/etc/apache2"

DefaultRuntimeDir ${APACHE_RUN_DIR}

PidFile ${APACHE_PID_FILE}

Listen 127.0.0.1:81
ServerName site1.com
ServerAdmin system@site1.com

Listen 127.0.0.1:82
ServerName site2.com
ServerAdmin system@site2.com

ServerSignature off
ServerTokens Prod

RLimitMEM 786432000
Timeout 300

KeepAlive On
MaxKeepAliveRequests 100
KeepAliveTimeout 5

AddDefaultCharset utf-8
DefaultLanguage ru

User ${APACHE_RUN_USER}
Group ${APACHE_RUN_GROUP}

ErrorLog ${APACHE_LOG_DIR}/error.log
LogLevel error

IncludeOptional mods-enabled/*.load
IncludeOptional mods-enabled/*.conf

Include ports.conf

<IfModule mime_module>
        TypesConfig /etc/mime.types
</IfModule>

#<Directory />
#       Options FollowSymLinks
#       AllowOverride None
#       Require all denied
#</Directory>

<IfModule mpm_prefork_module>
        StartServers 5
        MinSpareServers 5
        MaxSpareServers 10
        MaxClients {{ max_clients }} 
        MaxRequestsPerChild 2500
</IfModule>

<Directory /usr/share>
        AllowOverride None
        Require all granted
</Directory>

<Directory /var/www/site1/>
        Options Indexes FollowSymLinks
        AllowOverride None
        Require all granted
</Directory>

<Directory /var/www/site2/>
        Options Indexes FollowSymLinks
        AllowOverride None
        Require all granted
</Directory>

AccessFileName .htaccess
<FilesMatch "^\.ht*">
        Require all denied
</FilesMatch>

LogFormat "%v:%p %h %l %u %t \"%r\" %>s %O \"%{Referer}i\" \"%{User-Agent}i\"" vhost_combined
LogFormat "%h %l %u %t \"%r\" %>s %O \"%{Referer}i\" \"%{User-Agent}i\"" combined
LogFormat "%h %l %u %t \"%r\" %>s %O" common
LogFormat "%{Referer}i -> %U" referer
LogFormat "%{User-agent}i" agent

IncludeOptional conf-enabled/*.conf

IncludeOptional sites-enabled/*.conf


