[client-server]

# Import all .cnf files from configuration directory
!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mariadb.conf.d/

[mysqld]

default-storage-engine = InnoDB
key_buffer_size = 5M
innodb_buffer_pool_size = 300M
tmp_table_size = {{ tmp_table_size }}                       # согласно таска
max_heap_table_size = {{ tmp_table_size }}
table_open_cache = 64
innodb_log_buffer_size = 0M
query_cache_limit = {{  query_cache_limit }}                # согласно таска
sort_buffer_size = 512K
read_buffer_size = 512K
read_rnd_buffer_size = 1M
join_buffer_size = 2M
thread_stack = 1M
thread_cache_size = {{ thread_cache_size }}                 # согласно таска
net_buffer_length = 30K
max_allowed_packet = 5M
max_connections = 75
back_log = 250
bind-address = 127.0.0.1
innodb_file_per_table={{ innodb_file_per_table }}           # согласно таска
log_error=/var/www/log/mysql/mysql_error.log
general_log=on
general_log_file=/var/www/log/mysql/mysql.log
general_log=1

